### Setup

In [ ]:
pip install jupysql duckdb-engine

SyntaxError: invalid syntax (3219081980.py, line 1)

##### DuckDB Connection

In [ ]:
import pandas as pd
import numpy as np
import duckdb

conn = duckdb.connect("my_database.db")
#spatial extension for assignment 2
conn.execute("INSTALL spatial")
conn.execute("LOAD spatial")

### For data source 1: https://data.cer.gov.au/datasets/NGER/ID0243

##### Data Preparation

In [9]:
# Load the electricity sector emissions and generation data for the last ten years (2014 - 2024)
import requests
import pandas as pd
import time

def find_similar_column(target_col, available_cols):
    target_lower = target_col.lower()
    
    for col in available_cols:
        col_lower = col.lower()
        if target_lower == col_lower:
            return col
        
        target_clean = target_lower.replace('_', '').replace(' ', '').replace('-', '')
        col_clean = col_lower.replace('_', '').replace(' ', '').replace('-', '')
        
        if target_clean == col_clean:
            return col
        if target_clean in col_clean or col_clean in target_clean:
            return col
    
    return None

def find_similar_column(target_col, available_cols):
    target_lower = target_col.lower()
    
    for col in available_cols:
        col_lower = col.lower()
        
        # Exact match (case insensitive)
        if target_lower == col_lower:
            return col
        
        # Remove underscores, spaces, and common separators for comparison
        target_clean = target_lower.replace('_', '').replace(' ', '').replace('-', '')
        col_clean = col_lower.replace('_', '').replace(' ', '').replace('-', '')
        
        # Exact match after cleaning
        if target_clean == col_clean:
            return col
        
        # Bidirectional containing match
        if target_clean in col_clean or col_clean in target_clean:
            return col
    
    return None

def fetch_nger_data():
    urls = [
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0075?select%3D%2A",  # 2014
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0076?select%3D%2A",  # 2015
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0077?select%3D%2A",  # 2016
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0078?select%3D%2A",  # 2017
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0079?select%3D%2A",  # 2018
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0080?select%3D%2A",  # 2019
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0081?select%3D%2A",  # 2020
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0082?select%3D%2A",  # 2021
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0083?select%3D%2A",  # 2022
        "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0243?select%3D%2A"   # 2023-2024
    ]
    
    years = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
    all_data = []
    base_columns = None
    
    for i, url in enumerate(urls):
        year = years[i]
        print(f"Fetching {year} data...")
        
        try:
            response = requests.get(url, timeout=30)
            data = response.json()
            
            if data:
                current_columns = list(data[0].keys())
                print(f"  Columns ({len(current_columns)}): {current_columns}")
                
                if i == len(urls) - 1:  # Last year (2023-2024) as base
                    base_columns = current_columns
                    print(f"  Base columns set (latest year)")
                    
                    for record in data:
                        record['data_year'] = year
                        all_data.append(record)
                else:
                    # Store data for later processing
                    if 'temp_data' not in locals():
                        temp_data = {}
                    temp_data[year] = {'data': data, 'columns': current_columns}
                
                print(f"  Processed {len(data)} records")
            else:
                print(f"  No data")
                
        except Exception as e:
            print(f"  Failed: {e}")
        
        time.sleep(0.5)
    
    # Process earlier years using the base columns from latest year
    if base_columns and 'temp_data' in locals():
        print(f"\nProcessing earlier years with base columns from 2023-2024:")
        for year, year_info in temp_data.items():
            print(f"  Mapping {year} columns:")
            data = year_info['data']
            current_columns = year_info['columns']
            
            column_mapping = {}
            for base_col in base_columns:
                similar_col = find_similar_column(base_col, current_columns)
                if similar_col:
                    column_mapping[base_col] = similar_col
                    if base_col != similar_col:
                        print(f"    {similar_col} -> {base_col}")
                else:
                    print(f"    {base_col} -> NOT FOUND")
            
            # Convert data using mappings
            for record in data:
                new_record = {'data_year': year}
                for base_col in base_columns:
                    source_col = column_mapping.get(base_col, base_col)
                    new_record[base_col] = record.get(source_col, None)
                all_data.append(new_record)
    
    # Create DataFrame
    if all_data and base_columns:
        df = pd.DataFrame(all_data)
        columns_order = base_columns + ['data_year']
        df = df[columns_order]
        
        print(f"\nCompleted: {len(df)} records, {len(df.columns)} columns")
        return df
    else:
        print("No data retrieved")
        return pd.DataFrame()

# Run
if __name__ == "__main__":
    df = fetch_nger_data()
    
    if not df.empty:
        df.to_csv('nger_data.csv', index=False)
        print(f"Saved to nger_data.csv")
        
        print(f"\nData preview:")
        print(df.head())
        
print(df.shape) # Check the shape of the dataframe
columns = list(df) # Get the column names
columns

Fetching 2014 data...
  Columns (14): ['reportingEntity', 'facilityName', 'type', 'state', 'electricityProductionGJ', 'electricityProductionMwh', 'scope1tCO2e', 'scope2tCO2e', 'totalEmissionstCO2e', 'emissionIntensitytMwh', 'gridConnected', 'grid', 'primaryFuel', 'importantNotes']
  Processed 424 records
Fetching 2015 data...
  Columns (14): ['controllingcorporation', 'facilityName', 'type', 'state', 'electricityProductionGJ', 'electricityProductionMwh', 'totalScope1EmissionstCO2e', 'totalScope2EmissionstCO2e', 'totalEmissionstCO2e', 'emissionIntensitytMwh', 'gridConnected', 'grid', 'primaryFuel', 'importantNotes']
  Processed 480 records
Fetching 2016 data...
  Columns (14): ['reportingEntity', 'facilityName', 'type', 'state', 'electricityProductionGJ', 'electricityProductionMwh', 'totalScope1EmissionstCO2e', 'totalScope2EmissionstCO2e2', 'totalEmissionstCO2e', 'emissionIntensitytMwh', 'gridConnected2', 'grid', 'primaryFuel', 'importantNotes']
  Processed 486 records
Fetching 2017 data...
  Columns (14): ['reportingEntity', 'facilityName', 'type', 'state', 'electricityProductionGJ', 'electricityProductionMWh', 'totalScope1EmissionstCO2e', 'totalScope2EmissionstCO2e', 'totalEmissionstCO2e', 'emissionIntensitytCO2eMWh', 'gridConnected', 'grid', 'primaryFuel', 'importantNotes']
  Processed 522 records
Fetching 2018 data...
  Columns (14): ['reportingEntity', 'facilityName', 'type', 'state', 'electricityProductionGJ', 'electricityProductionMWh', 'totalScope1EmissionstCO2e', 'totalScope2EmissionstCO2e', 'totalEmissionstCO2e', 'emissionIntensitytCO2eMWh', 'gridConnected', 'grid', 'primaryFuel', 'importantNotes']
  Processed 583 records
Fetching 2019 data...
  Columns (14): ['reportingentity', 'facilityname', 'type', 'state', 'electricityproductionGJ', 'electricityproductionMWh', 'totalscope1emissionstCO2e', 'totalscope2emissionstCO2e', 'totalemissionstCO2e', 'emissionintensitytCO2eMWh', 'gridconnected', 'grid', 'primaryfuel', 'importantnotes']
  Processed 621 records
Fetching 2020 data...
  Columns (14): ['reportingentity', 'facilityname', 'type', 'state', 'electricityproductionGJ', 'electricityproductionMWh', 'totalscope1emissionstCO2e', 'totalscope2emissionstCO2e', 'totalemissionstCO2e', 'emissionintensitytCO2eMWh', 'gridconnected', 'grid', 'primaryfuel', 'importantnotes']
  Processed 655 records
Fetching 2021 data...
  Columns (14): ['reportingentity', 'facilityname', 'type', 'state', 'electricityproductionGJ', 'electricityproductionMWh', 'totalscope1emissionstCO2e', 'totalscope2emissionstCO2e', 'totalemissionstCO2e', 'emissionintensitytCO2eMWh', 'gridconnected', 'grid', 'primaryfuel', 'importantnotes']
  Processed 691 records
Fetching 2022 data...
  Columns (14): ['reportingentity', 'facilityname', 'type', 'state', 'electricityproductionGJ', 'electricityproductionMWh', 'totalscope1emissionstCO2e', 'totalscope2emissionstCO2e', 'totalemissionstCO2e', 'emissionintensitytCO2eMWh', 'gridconnected', 'grid', 'primaryfuel', 'importantnotes']
  Processed 705 records
Fetching 2023 data...
  Columns (14): ['reportingentity', 'facilityname', 'type', 'state', 'electricityproductionGJ', 'electricityproductionMWh', 'totalscope1emissionstCO2e', 'totalscope2emissionstCO2e', 'totalemissionstCO2e', 'emissionintensitytCO2eMWh', 'gridconnected', 'grid', 'primaryfuel', 'importantnotes']
  Base columns set (latest year)
  Processed 775 records

Processing earlier years with base columns from 2023-2024:
  Mapping 2014 columns:
    reportingEntity -> reportingentity
    facilityName -> facilityname
    electricityProductionGJ -> electricityproductionGJ
    electricityProductionMwh -> electricityproductionMWh
    totalscope1emissionstCO2e -> NOT FOUND
    totalscope2emissionstCO2e -> NOT FOUND
    totalEmissionstCO2e -> totalemissionstCO2e
    emissionintensitytCO2eMWh -> NOT FOUND
    gridConnected -> gridconnected
    gridConnected -> grid
    primaryFuel -> primaryfuel
    importantNotes -> importantnotes
  Mapping 2015 columns:
    reportingentity -> NOT FOUND
    facilityName -> facilityname
    electricityProductionGJ -> electricityproductionGJ
    electricityProductionMwh -> electricityproductionMWh
    totalScope1EmissionstCO2e -> totalscope1emissionstCO2e
    totalScope2EmissionstCO2e -> totalscope2emissionstCO2e
    totalEmissionstCO2e -> totalemissionstCO2e
    emissionintensitytCO2eMWh -> NOT FOUND
    gridConnected -> gridconnected
    gridConnected -> grid
    primaryFuel -> primaryfuel
    importantNotes -> importantnotes
  Mapping 2016 columns:
    reportingEntity -> reportingentity
    facilityName -> facilityname
    electricityProductionGJ -> electricityproductionGJ
    electricityProductionMwh -> electricityproductionMWh
    totalScope1EmissionstCO2e -> totalscope1emissionstCO2e
    totalScope2EmissionstCO2e2 -> totalscope2emissionstCO2e
    totalEmissionstCO2e -> totalemissionstCO2e
    emissionintensitytCO2eMWh -> NOT FOUND
    gridConnected2 -> gridconnected
    gridConnected2 -> grid
    primaryFuel -> primaryfuel
    importantNotes -> importantnotes
  Mapping 2017 columns:
    reportingEntity -> reportingentity
    facilityName -> facilityname
    electricityProductionGJ -> electricityproductionGJ
    electricityProductionMWh -> electricityproductionMWh
    totalScope1EmissionstCO2e -> totalscope1emissionstCO2e
    totalScope2EmissionstCO2e -> totalscope2emissionstCO2e
    totalEmissionstCO2e -> totalemissionstCO2e
    emissionIntensitytCO2eMWh -> emissionintensitytCO2eMWh
    gridConnected -> gridconnected
    gridConnected -> grid
    primaryFuel -> primaryfuel
    importantNotes -> importantnotes
  Mapping 2018 columns:
    reportingEntity -> reportingentity
    facilityName -> facilityname
    electricityProductionGJ -> electricityproductionGJ
    electricityProductionMWh -> electricityproductionMWh
    totalScope1EmissionstCO2e -> totalscope1emissionstCO2e
    totalScope2EmissionstCO2e -> totalscope2emissionstCO2e
    totalEmissionstCO2e -> totalemissionstCO2e
    emissionIntensitytCO2eMWh -> emissionintensitytCO2eMWh
    gridConnected -> gridconnected
    gridConnected -> grid
    primaryFuel -> primaryfuel
    importantNotes -> importantnotes
  Mapping 2019 columns:
    gridconnected -> grid
  Mapping 2020 columns:
    gridconnected -> grid
  Mapping 2021 columns:
    gridconnected -> grid
  Mapping 2022 columns:
    gridconnected -> grid

Completed: 5942 records, 15 columns
Saved to nger_data.csv

Data preview:
                  reportingentity               facilityname type state  \
0  ACCIONA ENERGY OCEANIA PTY LTD  Cathedral Rocks Wind Farm    F    SA
1  ACCIONA ENERGY OCEANIA PTY LTD          Gunning Wind Farm    F   NSW
2  ACCIONA ENERGY OCEANIA PTY LTD   Mortlake South Wind Farm    F   VIC
3  ACCIONA ENERGY OCEANIA PTY LTD    Mt Gellibrand Wind Farm    F   VIC
4  ACCIONA ENERGY OCEANIA PTY LTD           Waubra Wind Farm    F   VIC

   electricityproductionGJ  electricityproductionMWh  \
0                 481948.0                  133874.0
1                 491409.0                  136502.0
2                1019352.0                  283153.0
3                1025451.0                  284847.0
4                1954964.0                  543046.0

   totalscope1emissionstCO2e  totalscope2emissionstCO2e  totalemissionstCO2e  \
0                       57.0                      127.0                  184
1                       50.0                      218.0                  268
2                      202.0                     1128.0                 1330
3                       99.0                     1273.0                 1372
4                      186.0                     1114.0                 1300

   emissionintensitytCO2eMWh gridconnected grid primaryfuel importantnotes  \
0                        0.0            On  NEM        Wind              -
1                        0.0            On  NEM        Wind              -
2                        0.0            On  NEM        Wind              -
3                        0.0            On  NEM        Wind              -
4                        0.0            On  NEM        Wind              -

   data_year
0       2023
1       2023
2       2023
3       2023
4       2023
(5942, 15)

['reportingentity',
 'facilityname',
 'type',
 'state',
 'electricityproductionGJ',
 'electricityproductionMWh',
 'totalscope1emissionstCO2e',
 'totalscope2emissionstCO2e',
 'totalemissionstCO2e',
 'emissionintensitytCO2eMWh',
 'gridconnected',
 'grid',
 'primaryfuel',
 'importantnotes',
 'data_year']

In [10]:
df.head(5)

,reportingentity,facilityname,type,state,electricityproductionGJ,electricityproductionMWh,totalscope1emissionstCO2e,totalscope2emissionstCO2e,totalemissionstCO2e,emissionintensitytCO2eMWh,gridconnected,grid,primaryfuel,importantnotes,data_year
0,ACCIONA ENERGY OCEANIA PTY LTD,Cathedral Rocks Wind Farm,F,SA,481948.0,133874.0,57.0,127.0,184,0.0,On,NEM,Wind,-,2023
1,ACCIONA ENERGY OCEANIA PTY LTD,Gunning Wind Farm,F,NSW,491409.0,136502.0,50.0,218.0,268,0.0,On,NEM,Wind,-,2023
2,ACCIONA ENERGY OCEANIA PTY LTD,Mortlake South Wind Farm,F,VIC,1019352.0,283153.0,202.0,1128.0,1330,0.0,On,NEM,Wind,-,2023
3,ACCIONA ENERGY OCEANIA PTY LTD,Mt Gellibrand Wind Farm,F,VIC,1025451.0,284847.0,99.0,1273.0,1372,0.0,On,NEM,Wind,-,2023
4,ACCIONA ENERGY OCEANIA PTY LTD,Waubra Wind Farm,F,VIC,1954964.0,543046.0,186.0,1114.0,1300,0.0,On,NEM,Wind,-,2023

##### Data Cleaning

In [11]:
df.dtypes

reportingentity               object
facilityname                  object
type                          object
state                         object
electricityproductionGJ      float64
electricityproductionMWh     float64
totalscope1emissionstCO2e    float64
totalscope2emissionstCO2e    float64
totalemissionstCO2e            int64
emissionintensitytCO2eMWh    float64
gridconnected                 object
grid                          object
primaryfuel                   object
importantnotes                object
data_year                      int64
dtype: object

In [12]:
wrk_df = df.copy() #Make a working copy of the dataset
wrk_df = wrk_df.drop(columns=['importantnotes']) # Drop the 'Important notes' column as it is not needed for analysis
wrk_df.replace('-', np.nan, inplace=True) # Replace '-' with NaN for easier handling of missing values
print(wrk_df.shape) # Check the shape of the cleaned dataframe

(5942, 14)

In [13]:
conn.sql("CREATE TABLE IF NOT EXISTS electricity_emissions AS SELECT * FROM wrk_df")
conn.sql("SELECT * FROM electricity_emissions").df()

,Reporting entity,Facility name,Type,State,Electricity production GJ,Electricity production MWh,Total scope 1 emissions t CO2 e,Total scope 2 emissions t CO2 e,Total emissions t CO2 e,Emission intensity t CO2 e MWh,Grid connected,Grid,Primary fuel
0,ACCIONA ENERGY OCEANIA PTY LTD,Cathedral Rocks Wind Farm,F,SA,481948,133874,57,127,184,0.0,On,NEM,Wind
1,ACCIONA ENERGY OCEANIA PTY LTD,Gunning Wind Farm,F,NSW,491409,136502,50,218,268,0.0,On,NEM,Wind
2,ACCIONA ENERGY OCEANIA PTY LTD,Mortlake South Wind Farm,F,VIC,1019352,283153,202,1128,1330,0.0,On,NEM,Wind
3,ACCIONA ENERGY OCEANIA PTY LTD,Mt Gellibrand Wind Farm,F,VIC,1025451,284847,99,1273,1372,0.0,On,NEM,Wind
4,ACCIONA ENERGY OCEANIA PTY LTD,Waubra Wind Farm,F,VIC,1954964,543046,186,1114,1300,0.0,On,NEM,Wind
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,WIRTGEN ENERGY GLENROWAN PTY. LTD,Corporate Total,C,None,766484,212912,60,543,603,NaN,None,None,None
771,WOOLOOGA HOLDCO 2 PTY LTD,Woolooga SF,F,QLD,1185741,329373,59,3658,3717,0.0,On,NEM,Solar
772,WOOLOOGA HOLDCO 2 PTY LTD,Corporate Total,C,None,1185741,329373,59,3658,3717,NaN,None,None,None
773,YATPOOL SOLAR FARM HOLDCO PTY LTD,YATPOOL SOLAR FARM,F,VIC,461024,128062,0,361,361,0.0,On,NEM,Solar
774,YATPOOL SOLAR FARM HOLDCO PTY LTD,Corporate Total,C,None,461024,128062,0,361,361,NaN,None,None,None

### For data source 2: https://cer.gov.au/markets/reports-and-data/large-scale-renewable-energy-data

##### Data Retrieval

In [14]:
#Web Scraping to find CSV links on the CER page 
import requests
import pandas as pd
from bs4 import BeautifulSoup
import os
url = "https://cer.gov.au/markets/reports-and-data/large-scale-renewable-energy-data"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
links = soup.find_all('a')
for link in links:
    href = link.get('href')
    if href and href.startswith('/document/'):
        if href.endswith('accredited') or href.endswith('committed') or href.endswith('probable'):
            response = requests.get("https://cer.gov.au" + href)
            print(href)
            filename = os.path.basename(href) + ".csv"
            if os.path.exists(filename):
                print(f"{filename} already exists. Skipping download.")
                continue
            else:
                with open(filename, "wb") as f:
                    f.write(response.content)

/document/power-stations-and-projects-accredited
power-stations-and-projects-accredited.csv already exists. Skipping download.
/document/power-stations-and-projects-committed
power-stations-and-projects-committed.csv already exists. Skipping download.
/document/power-stations-and-projects-probable
power-stations-and-projects-probable.csv already exists. Skipping download.

In [59]:
accredited_power_station_df = pd.read_csv("power-stations-and-projects-accredited.csv")
committed_power_station_df = pd.read_csv("power-stations-and-projects-committed.csv")
probable_power_station_df = pd.read_csv("power-stations-and-projects-probable.csv")
accredited_power_station_df.dtypes

Accreditation code           object
Power station name           object
State                        object
Postcode                      int64
Installed capacity (MW)     float64
Fuel Source (s)              object
Accreditation start date     object
Approval date                object
dtype: object

In [60]:
import re
accredited_power_station_df['Accreditation start date'] = pd.to_datetime(accredited_power_station_df['Accreditation start date'], format="%d/%m/%Y")
accredited_power_station_df['Approval date'] = pd.to_datetime(accredited_power_station_df['Approval date'], format="%d/%m/%Y")
accredited_power_station_df['Power station name'] = accredited_power_station_df['Power station name'].apply(lambda x: re.split(r"[-–]", x)[0])
accredited_power_station_df.dtypes

Accreditation code                  object
Power station name                  object
State                               object
Postcode                             int64
Installed capacity (MW)            float64
Fuel Source (s)                     object
Accreditation start date    datetime64[ns]
Approval date               datetime64[ns]
dtype: object

In [61]:
accredited_power_station_df.rename(columns={'Accreditation code': 'accreditation_code', 
                                            'Power station name': 'power_station_name', 
                                            'State': 'state', 
                                            'Postcode': 'postcode',
                                            'Installed capacity (MW)': 'capacity_mw',
                                            'Fuel Source (s)': 'fuel_sources',
                                            'Accreditation start date': 'accreditation_start_date',
                                            'Approval date': 'approval_date'}, inplace=True)

In [62]:
conn.sql("drop table if exists accredited_power_stations")
conn.sql("CREATE TABLE IF NOT EXISTS accredited_power_stations AS SELECT *, 'accredited' AS project_status FROM accredited_power_station_df")
conn.sql("select * from accredited_power_stations").df().head(20)

,accreditation_code,power_station_name,state,postcode,capacity_mw,fuel_sources,accreditation_start_date,approval_date,project_status
0,SRPXQLE8,"Laura Johnson Home, Townview",QLD,4825,0.2265,Solar,2024-10-15,2025-01-13,accredited
1,SRPYNS39,Leppington,NSW,2179,0.7320,Solar,2024-11-22,2025-01-13,accredited
2,SRPYNS58,Quakers Hillside Care Community,NSW,2763,0.1996,Solar,2024-12-19,2025-01-13,accredited
3,SRPXVCN4,Rest Nominees,VIC,3008,0.1188,Solar,2024-09-20,2025-01-13,accredited
4,SRPXQLF9,Retail First Mt Ommaney,QLD,4074,1.0004,Solar,2024-10-29,2025-01-13,accredited
5,SRPXQLG3,Woolworths HCFDC Heathwood,QLD,4110,1.6721,Solar,2024-12-12,2025-01-13,accredited
6,SRPVTA25,Woolworths Kings Meadow 7210,TAS,7249,0.2926,Solar,2024-11-18,2025-01-13,accredited
7,SRPVSAY5,CLAYTON CHURCH HOMES INC,SA,5113,0.1965,Solar,2024-12-11,2025-01-17,accredited
8,SRPYNS57,Dalwood Children's Home,NSW,2092,0.2465,Solar,2024-12-19,2025-01-17,accredited
9,SRPVSAY1,Haighs Proprietary Limited,SA,5106,0.6265,Solar,2024-12-27,2025-01-17,accredited
10,SRPYNS56,Lindt & Sprungli (Australia) Pty Ltd,NSW,2765,1.0179,Solar,2024-12-17,2025-01-17,accredited
11,SRPVSAX9,Midfield Trading Solar W SGU,SA,5010,0.6443,Solar,2024-11-25,2025-01-17,accredited
12,SRPXVCG8,Wilandra Farms Clydebank,VIC,3851,0.1550,Solar,2024-12-20,2025-01-17,accredited
13,SRPYNS13,Balickera WPS,NSW,2324,3.1158,Solar,2024-11-05,2025-01-20,accredited
14,SRPVSAX0,The Creeks Pipeline Company Ltd,SA,5259,2.8080,Solar,2024-12-01,2025-01-20,accredited
15,SRPVSAX2,Lai Industries,SA,5010,0.5445,Solar,2024-10-16,2025-01-23,accredited
16,SRPVSAY6,CLAYTON CHURCH HOMES INC,SA,5082,0.1980,Solar,2024-12-11,2025-01-28,accredited
17,SRPXVCP2,Kerang Solar Plant,VIC,3579,37.2874,Solar,2025-01-21,2025-01-28,accredited
18,SRPVQLO6,Red Valley Farms,QLD,4871,0.3801,Solar,2024-11-11,2025-01-28,accredited
19,SRPVWAH2,Region Group Warnbro Central,WA,6169,0.5736,Solar,2024-11-21,2025-01-28,accredited

In [65]:
committed_power_station_df.rename(columns={'Project Name': 'power_station_name',           
                                            'State': 'state',
                                            'MW Capacity': 'capacity_mw',
                                            'Fuel Source': 'fuel_sources',
                                            'Committed Date (Month/Year)': 'committed_date'}, inplace=True)

In [66]:
conn.sql("drop table if exists committed_power_stations")
conn.sql("create table if not exists committed_power_stations as select *, 'committed' as project_status from committed_power_station_df;")
conn.sql("select * from committed_power_stations;").df().head(5)

,power_station_name,State,capacity_mw,fuel_sources,committed_date,project_status
0,East Rockingham Resource Recovery Facility,WA,29.0,Biomass,Dec-2019,committed
1,Mangalore Renewable Energy Project,VIC,5.0,Solar,Sep-2021,committed
2,Orange Community Renewable Energy Park,NSW,5.0,Solar,Jul-2022,committed
3,Moorebank Logistics Park,NSW,60.0,Solar,Sep-2022,committed
4,Wangaratta Solar Farm,VIC,40.0,Solar,Jul-2023,committed

In [67]:
probable_power_station_df.rename(columns={'Project Name': 'power_station_name',
                                          'State': 'state',
                                          'MW Capacity': 'capacity_mw',
                                          'Fuel Source': 'fuel_source'}, inplace=True)

In [68]:
conn.sql("drop table if exists probable_power_stations")
conn.sql("create table if not exists probable_power_stations as select *, 'probable' as project_status from probable_power_station_df;")
conn.sql("select * from probable_power_stations;").df().head(5)

,power_station_name,State,capacity_mw,fuel_source,project_status
0,Barnawartha Solar Farm,VIC,64.0,Solar,probable
1,Barwon solar farm,VIC,250.0,Solar,probable
2,Boddington Giga Energy,WA,400.0,Solar,probable
3,Bulli Creek Solar project Stage 1,QLD,775.0,Solar,probable
4,Bullyard Solar Farm,QLD,100.0,Solar,probable

In [69]:
conn.query("SHOW TABLES").df()

                        name
0              abs_lga_areas
1       abs_remoteness_areas
2        abs_state_territory
3  accredited_power_stations
4   committed_power_stations
5      electricity_emissions
6    probable_power_stations

In [70]:
import requests
def geocode_address(address):
    API_KEY = "AIzaSyDy1sAL8Lepu8JgRbGnLLGFKu8FE8E-krU"
    response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={API_KEY}")
    results = response.json().get("results", [])
    if not results:
        print(f"No results found for address: {address}")
        return None, None
    geometry = results[0].get("geometry", {}).get("location", {})
    lat, lng = geometry.get("lat"), geometry.get("lng")
    #print(f"Address: {address}, Latitude: {lat}, Longitude: {lng}") 
    return lat, lng
    

lat, lng = geocode_address("Barnawartha Solar Farm")
lat, lng

(-36.0959962, 146.6965122)

In [71]:
# get power station names from the three tables
power_stations = pd.concat([accredited_power_station_df['power_station_name'], 
                            committed_power_station_df['power_station_name'], 
                            probable_power_station_df['power_station_name']]).drop_duplicates().reset_index(drop=True)
print(power_stations.head(5))

0       Laura Johnson Home, Townview
1                         Leppington
2    Quakers Hillside Care Community
3                      Rest Nominees
4             Retail First Mt Ommaney
Name: power_station_name, dtype: object

In [72]:
# create a new dataframe to store the results
geo_df = pd.DataFrame(columns=['power_station_name', 'latitude', 'longitude'])
for station in power_stations:
    lat, lng = geocode_address(station)
    if lat is None or lng is None:
        continue
    station_coordinates = pd.DataFrame({'power_station_name': [station], 'latitude': [lat], 'longitude': [lng]})
    geo_df = pd.concat([geo_df, station_coordinates], ignore_index=True)
conn.sql("drop table if exists power_station_geocodes")
conn.sql("create table if not exists power_station_geocodes as select * from geo_df")
conn.sql("select count(*) from power_station_geocodes;").df()

C:\Users\38064\AppData\Local\Temp\ipykernel_44256\2321822638.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  geo_df = pd.concat([geo_df, station_coordinates], ignore_index=True)

No results found for address: Rest Nominees
No results found for address: CLAYTON CHURCH HOMES INC
No results found for address: Haighs Proprietary Limited
No results found for address: Lindt & Sprungli (Australia) Pty Ltd
No results found for address: Midfield Trading Solar W SGU
No results found for address: Lai Industries
No results found for address: AU186 Oakdale West 5B
No results found for address: HCS
No results found for address: Region Group Treendale
No results found for address: Symbion
No results found for address: AU544 Interlink Estate
No results found for address: Frasers Woolworths Liquor Warehouse
No results found for address: Campari
No results found for address: Chep Pallets
No results found for address: Kingspan Insulated Panels Pty Limited
No results found for address: Goyder South Wind Farm 1B
No results found for address: Concord Hospital
No results found for address: CQFMS
No results found for address: B&J Greenacre
No results found for address: CH3059 Midwest Logistics Hub (INGH1)
No results found for address: MF Logistics Bvd
No results found for address: REMONDIS
No results found for address: GPE_LYKA WELLNESS
No results found for address: Greenlink 7
No results found for address: Cubbie
No results found for address: DHL Skyline
No results found for address: AU371
No results found for address: Kerarbury Station Almond Orchard
No results found for address: OPAL Berkeley Care Community
No results found for address: St Marys Sewage Treatment
No results found for address: Brisbane Lions
No results found for address: CSIRO
No results found for address: IBIS
No results found for address: Coolaroo
No results found for address: DMK
No results found for address: Riverwood CCP
No results found for address: Wambo Wind Farm Stage 1
No results found for address: SH LEASEHOLD PTY LTD
No results found for address: GPE_DB Santasalo
No results found for address: PCCS
No results found for address: Greentech 7 Solar Farm & BESS
No results found for address: Seventh
No results found for address: Goodman AU702 Axle West
No results found for address: Greenlink 6
No results found for address: Greenacres Joint Venture
No results found for address: Mackay Christian College Senior Campus
No results found for address: Team Medical Supplies
No results found for address: Canally Microgrid
No results found for address: Tronox
No results found for address: KQF Newheath Dr
No results found for address: Liuzzi 25 Eton St
No results found for address: Liuzzi 71 Gower St
No results found for address: Norther Airfield
No results found for address: Wambo Wind Farm Stage 2
No results found for address: Warradarge Wind Farm Stage 2
No results found for address: Barwon solar farm
No results found for address: Byford Solar Project
No results found for address: Derby Solar Farm & Battery
No results found for address: Ganymirra Solar Power Station
No results found for address: Junction Rivers Wind Farm
No results found for address: Kidston Stage 3 Wind Project
No results found for address: Lake Wells high renewable energy fraction microgrid -Solar
No results found for address: Lake Wells high renewable energy fraction microgrid -Wind
No results found for address: Planet Ark Power - Schneider Electricity PV and Battery Project
No results found for address: Sandy Creek Solar Farm
No results found for address: Silverleaf Solar Farm
No results found for address: Smoky Creek and Guthrie's Gap Solar Farm
No results found for address: Thunderbolt Wind Farm stage 1
No results found for address: Vast Solar Facility - VS1

   count_star()
0           286

### For data source 3: https://www.abs.gov.au/methodologies/data-region-methodology/2011-24#data-downloads

In [26]:
# Download and process ABS data
import pandas as pd
import requests
import io

##### ABS Data Processing

In [28]:
# Download ABS population data
url = "https://www.abs.gov.au/methodologies/data-region-methodology/2011-24/14100DO0001_2011-24.xlsx"
response = requests.get(url)
response.raise_for_status()
# Process all three ABS tables
abs_tables = {}

for table_info in [
    {"name": "state_territory", "sheet": "Table 1"},
    {"name": "lga_areas", "sheet": "Table 2"}, 
    {"name": "remoteness_areas", "sheet": "Table 3"}]:
    
    # Read table with proper header handling - skip first 6 rows of metadata
    df = pd.read_excel(io.BytesIO(response.content), 
                      sheet_name=table_info["sheet"], 
                      header=6)
    
    # Data cleaning process
    # Replace '-' with NaN for missing values and remove rows without region codes
    df = df.replace('-', np.nan).dropna(subset=[df.columns[0]])
    
    # Convert Year column to numeric type if it exists
    if 'Year' in df.columns:
        df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
        # Filter data to keep only records from 2016 onwards to match energy data timeframe
        df = df[df['Year'] >= 2016]
    
    # Store processed data
    abs_tables[table_info["name"]] = df

# Save to database
for name, df in abs_tables.items():
    conn.sql(f"CREATE TABLE IF NOT EXISTS abs_{name} AS SELECT * FROM df")

# Keep Table 2 data for compatibility
Population_and_people_df2 = abs_tables['lga_areas']

C:\Users\38064\AppData\Local\Temp\ipykernel_44256\475775920.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('-', np.nan).dropna(subset=[df.columns[0]])
C:\Users\38064\AppData\Local\Temp\ipykernel_44256\475775920.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('-', np.nan).dropna(subset=[df.columns[0]])
C:\Users\38064\AppData\Local\Temp\ipykernel_44256\475775920.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('-', np.nan).dropna(subset=[df.columns[0]])

In [29]:
# Verify ABS data processing
print("ABS tables created:")
for name, df in abs_tables.items():
    print(f"- {name}: {len(df)} records")
    
print(f"\nDatabase tables:")
print(conn.sql("SHOW TABLES").df())

ABS tables created:
- state_territory: 23272 records
- lga_areas: 4376 records
- remoteness_areas: 245 records

Database tables:
                        name
0              abs_lga_areas
1       abs_remoteness_areas
2        abs_state_territory
3  accredited_power_stations
4   committed_power_stations
5      electricity_emissions
6    probable_power_stations