### Setup

In [1]:
# pip install jupysql duckdb-engine

##### DuckDB Connection

In [2]:
import pandas as pd
import numpy as np
import duckdb

conn = duckdb.connect("my_database.db")

### For data source 1: https://data.cer.gov.au/datasets/NGER/ID0243

##### Data Preparation

In [ ]:
import requests
import pandas as pd
import numpy as np
import time
from typing import Dict, List, Optional

def create_column_mapping_config():
    """Create configuration for column name mappings."""
    return {
        'entity_info': {
            'target': 'reporting_entity',
            'sources': ['reportingEntity', 'reportingentity', 'controllingcorporation', 'Controlling Corporation'],
            'type': 'text'
        },
        'facility_info': {
            'target': 'facility_name', 
            'sources': ['facilityName', 'facilityname', 'Facility Name'],
            'type': 'text'
        },
        'facility_type': {
            'target': 'facility_type',
            'sources': ['type', 'Type'],
            'type': 'text'
        },
        'location': {
            'target': 'state',
            'sources': ['state', 'State'],
            'type': 'text',
            'transform': lambda x: str(x).strip().upper() if pd.notna(x) else 'UNKNOWN'
        },
        'power_gj': {
            'target': 'electricity_gj',
            'sources': ['electricityProductionGJ', 'electricityproductionGJ', 'Electricity Production (GJ)'],
            'type': 'numeric'
        },
        'power_mwh': {
            'target': 'electricity_mwh',
            'sources': ['electricityProductionMWh', 'electricityProductionMwh', 'electricityproductionMWh', 
                       'Electricity Production (Mwh)', 'Electricity Production (MWh)'],
            'type': 'numeric'
        },
        'emissions_scope1': {
            'target': 'scope1_emissions',
            'sources': ['scope1tCO2e', 'totalscope1emissionstCO2e', 'Total Scope1 Emissions tCO2e', 'Scope 1 t CO2-e'],
            'type': 'numeric'
        },
        'emissions_scope2': {
            'target': 'scope2_emissions', 
            'sources': ['scope2tCO2e', 'totalscope2emissionstCO2e', 'Total Scope2 Emissions tCO2e', 'Scope 2 t CO2-e'],
            'type': 'numeric'
        },
        'emissions_total': {
            'target': 'total_emissions',
            'sources': ['totalEmissions tCO2e', 'totalemissionstCO2e', 'totalEmissionsstCO2e', 'Total Emissions t CO2-e'],
            'type': 'numeric'
        },
        'grid_status': {
            'target': 'grid_connected',
            'sources': ['gridConnected', 'gridconnected', 'gridConnected2', 'Grid Connected'],
            'type': 'text',
            'transform': lambda x: 'Connected' if str(x).lower().strip() == 'on' else 'Disconnected' if str(x).lower().strip() == 'off' else 'Unknown'
        },
        'fuel_type': {
            'target': 'primary_fuel',
            'sources': ['primaryFuel', 'primaryfuel', 'Primary Fuel'],
            'type': 'text'
        }
    }

def find_matching_column(available_columns: List[str], source_patterns: List[str]) -> Optional[str]:
    """Find the first matching column from source patterns."""
    for pattern in source_patterns:
        if pattern in available_columns:
            return pattern

    available_lower = {col.lower(): col for col in available_columns}
    for pattern in source_patterns:
        if pattern.lower() in available_lower:
            return available_lower[pattern.lower()]
    
    return None

def transform_column_data(series: pd.Series, data_type: str, transform_func=None) -> pd.Series:
    """Apply data type conversion and transformation."""
    if transform_func:
        return series.apply(transform_func)
    
    if data_type == 'numeric':
        return pd.to_numeric(series, errors='coerce')
    elif data_type == 'text':
        return series.astype(str).replace('nan', '')
    
    return series

def standardize_dataframe(df: pd.DataFrame, mapping_config: Dict) -> pd.DataFrame:
    """Standardize DataFrame using mapping configuration."""
    result_data = {}
    available_cols = df.columns.tolist()
    
    # Keep dataset_id at the beginning
    if 'dataset_id' in df.columns:
        result_data['dataset_id'] = df['dataset_id']
    
    # Apply mapping rules
    for config in mapping_config.values():
        target_col = config['target']
        source_patterns = config['sources']
        data_type = config['type']
        transform_func = config.get('transform', None)
        
        matched_column = find_matching_column(available_cols, source_patterns)
        
        if matched_column:
            raw_data = df[matched_column]
            transformed_data = transform_column_data(raw_data, data_type, transform_func)
            result_data[target_col] = transformed_data
        else:
            # Create empty column
            if data_type == 'numeric':
                result_data[target_col] = pd.Series([np.nan] * len(df), dtype='float64')
            else:
                result_data[target_col] = pd.Series([''] * len(df), dtype='object')
    
    # Add data_year at the end
    if 'data_year' in df.columns:
        result_data['data_year'] = df['data_year']
    
    return pd.DataFrame(result_data, index=df.index)

def add_calculated_fields(df: pd.DataFrame) -> pd.DataFrame:
    """Add calculated fields to the standardized data."""
    df = df.copy()
    
    # Unified electricity production in MWh
    df['electricity_mwh_unified'] = df['electricity_mwh'].fillna(df['electricity_gj'] / 3.6)
    
    # Calculate total emissions if missing
    df['total_emissions'] = df['total_emissions'].fillna(
        df['scope1_emissions'].fillna(0) + df['scope2_emissions'].fillna(0)
    )
    
    # Emission intensity
    valid_electricity = df['electricity_mwh_unified'] > 0
    valid_emissions = df['total_emissions'] > 0
    df['emission_intensity'] = np.nan
    
    valid_mask = valid_electricity & valid_emissions
    df.loc[valid_mask, 'emission_intensity'] = (
        df.loc[valid_mask, 'total_emissions'] / df.loc[valid_mask, 'electricity_mwh_unified']
    )
    
    # Reorder columns to ensure data_year is at the end
    if 'data_year' in df.columns:
        cols = [col for col in df.columns if col != 'data_year']
        cols.append('data_year')
        df = df[cols]
    
    return df

def fetch_nger_data():
    """Fetch and standardize NGER data from 2014-2023."""
    datasets = [
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0075?select%3D%2A", "year": 2014, "dataset_id": "ID0075"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0076?select%3D%2A", "year": 2015, "dataset_id": "ID0076"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0077?select%3D%2A", "year": 2016, "dataset_id": "ID0077"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0078?select%3D%2A", "year": 2017, "dataset_id": "ID0078"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0079?select%3D%2A", "year": 2018, "dataset_id": "ID0079"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0080?select%3D%2A", "year": 2019, "dataset_id": "ID0080"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0081?select%3D%2A", "year": 2020, "dataset_id": "ID0081"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0082?select%3D%2A", "year": 2021, "dataset_id": "ID0082"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0083?select%3D%2A", "year": 2022, "dataset_id": "ID0083"},
        {"url": "https://api.cer.gov.au/datahub-public/v1/api/ODataDataset/NGER/dataset/ID0243?select%3D%2A", "year": 2023, "dataset_id": "ID0243"}
    ]
    
    column_mappings = create_column_mapping_config()
    all_data = []
    
    for config in datasets:
        year = config['year']
        dataset_id = config['dataset_id'] 
        url = config['url']
        
        print(f"Fetching {year} data ({dataset_id})...")
        
        response = requests.get(url, timeout=30)
        data = response.json()
        
        if data:
            # Create DataFrame and add metadata
            year_df = pd.DataFrame(data)
            year_df['dataset_id'] = dataset_id
            year_df['data_year'] = year
            
            # Standardize and calculate fields
            standardized_df = standardize_dataframe(year_df, column_mappings)
            final_df = add_calculated_fields(standardized_df)
            
            all_data.append(final_df)
            print(f"  Processed {len(final_df)} records")
        
        time.sleep(0.5)
    
    # Combine and sort data
    if all_data:
        combined_df = pd.concat(all_data, ignore_index=True)
        combined_df = combined_df.sort_values(['data_year', 'facility_name']).reset_index(drop=True)
        
        print(f"\nTotal: {len(combined_df)} records from {combined_df['data_year'].min()}-{combined_df['data_year'].max()}")
        return combined_df
    
    return pd.DataFrame()

# Run the data collection
if __name__ == "__main__":
    NGER_data = fetch_nger_data()

Fetching 2014 data (ID0075)...
  Processed 424 records
Fetching 2015 data (ID0076)...
  Processed 480 records
Fetching 2016 data (ID0077)...
  Processed 486 records
Fetching 2017 data (ID0078)...
  Processed 522 records
Fetching 2018 data (ID0079)...
  Processed 583 records
Fetching 2019 data (ID0080)...
  Processed 621 records
Fetching 2020 data (ID0081)...
  Processed 655 records
Fetching 2021 data (ID0082)...
  Processed 691 records
Fetching 2022 data (ID0083)...
  Processed 705 records
Fetching 2023 data (ID0243)...
  Processed 775 records

Total: 5942 records from 2014-2023

In [45]:
NGER_data.head(5)

,dataset_id,reporting_entity,facility_name,facility_type,state,electricity_gj,electricity_mwh,scope1_emissions,scope2_emissions,total_emissions,grid_connected,primary_fuel,electricity_mwh_unified,emission_intensity,data_year
0,ID0075,ELECTRICITY GENERATION AND RETAIL CORPORATION,Albany Wind Farm,F,WA,347600.0,96556.0,13.0,7.0,20,Connected,Wind,96556.0,0.000207,2014
1,ID0075,LMS ENERGY PTY LTD,Albury Renewable Energy Facility,F,NSW,28779.0,7994.0,435.0,0.0,435,Connected,Landfill Gas,7994.0,0.054416,2014
2,ID0075,MOMENTUM ENERGY PTY LIMITED,Alfred Hospital Cogeneration Plant,F,VIC,56229.0,15619.0,13869.0,590.0,14459,Connected,Gas,15619.0,0.925731,2014
3,ID0075,ALCOA AUSTRALIAN HOLDINGS PTY LTD,Alinta Pinjarra Generation Facility,F,WA,5900732.0,1639092.0,1301720.0,246.0,1301966,Connected,Gas,1639092.0,0.794321,2014
4,ID0075,ALCOA AUSTRALIAN HOLDINGS PTY LTD,Alinta Wagerup Generation Facility,F,WA,637048.0,176958.0,111432.0,6229.0,117661,Connected,Gas/Diesel,176958.0,0.664909,2014

##### Data Cleaning

In [7]:
df.dtypes

reportingentity               object
facilityname                  object
type                          object
state                         object
electricityproductionGJ      float64
electricityproductionMWh     float64
totalscope1emissionstCO2e    float64
totalscope2emissionstCO2e    float64
totalemissionstCO2e            int64
emissionintensitytCO2eMWh    float64
gridconnected                 object
grid                          object
primaryfuel                   object
importantnotes                object
data_year                      int64
dtype: object

(5942, 14)

In [9]:
conn.sql("CREATE TABLE IF NOT EXISTS electricity_emissions AS SELECT * FROM wrk_df")
conn.sql("SELECT * FROM electricity_emissions").df().head(5)

,Reporting entity,Facility name,Type,State,Electricity production GJ,Electricity production MWh,Total scope 1 emissions t CO2 e,Total scope 2 emissions t CO2 e,Total emissions t CO2 e,Emission intensity t CO2 e MWh,Grid connected,Grid,Primary fuel
0,ACCIONA ENERGY OCEANIA PTY LTD,Cathedral Rocks Wind Farm,F,SA,481948,133874,57,127,184,0.0,On,NEM,Wind
1,ACCIONA ENERGY OCEANIA PTY LTD,Gunning Wind Farm,F,NSW,491409,136502,50,218,268,0.0,On,NEM,Wind
2,ACCIONA ENERGY OCEANIA PTY LTD,Mortlake South Wind Farm,F,VIC,1019352,283153,202,1128,1330,0.0,On,NEM,Wind
3,ACCIONA ENERGY OCEANIA PTY LTD,Mt Gellibrand Wind Farm,F,VIC,1025451,284847,99,1273,1372,0.0,On,NEM,Wind
4,ACCIONA ENERGY OCEANIA PTY LTD,Waubra Wind Farm,F,VIC,1954964,543046,186,1114,1300,0.0,On,NEM,Wind

### For data source 2: https://cer.gov.au/markets/reports-and-data/large-scale-renewable-energy-data

##### Data Retrieval

In [10]:
#Web Scraping to find CSV links on the CER page 
import requests
import pandas as pd
from bs4 import BeautifulSoup
import os
url = "https://cer.gov.au/markets/reports-and-data/large-scale-renewable-energy-data"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
links = soup.find_all('a')
for link in links:
    href = link.get('href')
    if href and href.startswith('/document/'):
        if href.endswith('accredited') or href.endswith('committed') or href.endswith('probable'):
            response = requests.get("https://cer.gov.au" + href)
            print(href)
            filename = os.path.basename(href) + ".csv"
            if os.path.exists(filename):
                print(f"{filename} already exists. Skipping download.")
                continue
            else:
                with open(filename, "wb") as f:
                    f.write(response.content)

/document/power-stations-and-projects-accredited
power-stations-and-projects-accredited.csv already exists. Skipping download.
/document/power-stations-and-projects-committed
power-stations-and-projects-committed.csv already exists. Skipping download.
/document/power-stations-and-projects-probable
power-stations-and-projects-probable.csv already exists. Skipping download.

In [11]:
accredited_power_station_df = pd.read_csv("power-stations-and-projects-accredited.csv")
committed_power_station_df = pd.read_csv("power-stations-and-projects-committed.csv")
probable_power_station_df = pd.read_csv("power-stations-and-projects-probable.csv")

In [12]:
accredited_power_station_df['Accreditation start date'] = pd.to_datetime(accredited_power_station_df['Accreditation start date'], format="%d/%m/%Y")
accredited_power_station_df['Approval date'] = pd.to_datetime(accredited_power_station_df['Approval date'], format="%d/%m/%Y")
accredited_power_station_df.dtypes

Accreditation code                  object
Power station name                  object
State                               object
Postcode                             int64
Installed capacity (MW)            float64
Fuel Source (s)                     object
Accreditation start date    datetime64[ns]
Approval date               datetime64[ns]
dtype: object

In [13]:
committed_power_station_df.dtypes

Project Name                    object
State                           object
MW Capacity                    float64
Fuel Source                     object
Committed Date (Month/Year)     object
dtype: object

In [14]:
probable_power_station_df.dtypes

Project Name     object
State            object
MW Capacity     float64
Fuel Source      object
dtype: object

In [15]:
accredited_power_station_df.rename(columns={'Accreditation code': 'accreditation_code', 
                                            'Power station name': 'power_station_name', 
                                            'State': 'state', 
                                            'Postcode': 'postcode',
                                            'Installed capacity (MW)': 'capacity_mw',
                                            'Fuel Source (s)': 'fuel_source',
                                            'Accreditation start date': 'accreditation_start_date',
                                            'Approval date': 'approval_date'}, inplace=True)
conn.sql("drop table if exists accredited_power_stations")
conn.sql("CREATE TABLE IF NOT EXISTS accredited_power_stations AS SELECT *, 'accredited' AS project_status FROM accredited_power_station_df")
conn.sql("select * from accredited_power_stations").df().head(5)

,accreditation_code,power_station_name,state,postcode,capacity_mw,fuel_source,accreditation_start_date,approval_date,project_status
0,SRPXQLE8,"Laura Johnson Home, Townview - Solar w SGU - QLD",QLD,4825,0.2265,Solar,2024-10-15,2025-01-13,accredited
1,SRPYNS39,Leppington - Solar - NSW,NSW,2179,0.7320,Solar,2024-11-22,2025-01-13,accredited
2,SRPYNS58,Quakers Hillside Care Community - Solar w SGU ...,NSW,2763,0.1996,Solar,2024-12-19,2025-01-13,accredited
3,SRPXVCN4,Rest Nominees - Solar wSGU - VIC,VIC,3008,0.1188,Solar,2024-09-20,2025-01-13,accredited
4,SRPXQLF9,Retail First Mt Ommaney-Solar-QLD,QLD,4074,1.0004,Solar,2024-10-29,2025-01-13,accredited

In [16]:
committed_power_station_df.rename(columns={'Project Name': 'power_station_name',           
                                            'State': 'state',
                                            'MW Capacity': 'capacity_mw',
                                            'Fuel Source': 'fuel_source',
                                            'Committed Date (Month/Year)': 'committed_date'}, inplace=True)
conn.sql("drop table if exists committed_power_stations")
conn.sql("create table if not exists committed_power_stations as select *, 'committed' as project_status from committed_power_station_df;")
conn.sql("select * from committed_power_stations;").df().head(5)

,power_station_name,State,capacity_mw,fuel_source,committed_date,project_status
0,East Rockingham Resource Recovery Facility,WA,29.0,Biomass,Dec-2019,committed
1,Mangalore Renewable Energy Project,VIC,5.0,Solar,Sep-2021,committed
2,Orange Community Renewable Energy Park,NSW,5.0,Solar,Jul-2022,committed
3,Moorebank Logistics Park,NSW,60.0,Solar,Sep-2022,committed
4,Wangaratta Solar Farm,VIC,40.0,Solar,Jul-2023,committed

In [17]:
probable_power_station_df.rename(columns={'Project Name': 'power_station_name',
                                          'State': 'state',
                                          'MW Capacity': 'capacity_mw',
                                          'Fuel Source': 'fuel_source'}, inplace=True)  
conn.sql("drop table if exists probable_power_stations")
conn.sql("create table if not exists probable_power_stations as select *, 'probable' as project_status from probable_power_station_df;")
conn.sql("select * from probable_power_stations;").df().head(5)

,power_station_name,State,capacity_mw,fuel_source,project_status
0,Barnawartha Solar Farm,VIC,64.0,Solar,probable
1,Barwon solar farm,VIC,250.0,Solar,probable
2,Boddington Giga Energy,WA,400.0,Solar,probable
3,Bulli Creek Solar project Stage 1,QLD,775.0,Solar,probable
4,Bullyard Solar Farm,QLD,100.0,Solar,probable

### Data Augmentation

In [18]:
import requests
def geocode_address(address):
    API_KEY = "AIzaSyDy1sAL8Lepu8JgRbGnLLGFKu8FE8E-krU"
    response = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={API_KEY}")
    results = response.json().get("results", [])
    if not results:
        print(f"No results found for address: {address}")
        return None, None
    geometry = results[0].get("geometry", {}).get("location", {})
    lat, lng = geometry.get("lat"), geometry.get("lng")
    #print(f"Address: {address}, Latitude: {lat}, Longitude: {lng}") 
    return lat, lng
    

lat, lng = geocode_address("Barnawartha Solar Farm")
lat, lng

(-36.0959962, 146.6965122)

In [19]:
# get power station names from the three tables
power_stations = pd.concat([accredited_power_station_df['power_station_name'], 
                            committed_power_station_df['power_station_name'], 
                            probable_power_station_df['power_station_name']]).drop_duplicates().reset_index(drop=True)
print(power_stations.head(5))

0     Laura Johnson Home, Townview - Solar w SGU - QLD
1                             Leppington - Solar - NSW
2    Quakers Hillside Care Community - Solar w SGU ...
3                     Rest Nominees - Solar wSGU - VIC
4                    Retail First Mt Ommaney-Solar-QLD
Name: power_station_name, dtype: object

In [21]:
# create a new dataframe to store the results
geo_df = pd.DataFrame(columns=['power_station_name', 'latitude', 'longitude'])
for station in power_stations:
    lat, lng = geocode_address(station)
    if lat is None or lng is None:
        continue
    station_coordinates = pd.DataFrame({'power_station_name': [station], 'latitude': [lat], 'longitude': [lng]})
    geo_df = pd.concat([geo_df, station_coordinates], ignore_index=True)
conn.sql("drop table if exists power_station_geocodes")
conn.sql("create table if not exists power_station_geocodes as select * from geo_df")
conn.sql("select count(*) from power_station_geocodes;").df()

C:\Users\gz_jo\AppData\Local\Temp\ipykernel_28864\2321822638.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  geo_df = pd.concat([geo_df, station_coordinates], ignore_index=True)

No results found for address: Lindt & Sprungli (Australia) Pty Ltd - 1017.9kW - Solar w SGU - NSW
No results found for address: Chep Pallets - Solar - SA
No results found for address: B&J Greenacre - Solar - NSW
No results found for address: GPE_LYKA WELLNESS - Solar - VIC
No results found for address: Greenlink 7 - Solar - VIC
No results found for address: Steel Building Systems - Solar - SA
No results found for address: Cherry Lane - Solar - VIC
No results found for address: SH LEASEHOLD PTY LTD - Solar w SGU - SA
No results found for address: Greentech 7 Solar Farm & BESS - Solar - VIC
No results found for address: Greenlink 6 - Solar - VIC
No results found for address: Morgan Sawmill Dublin - Solar - SA
No results found for address: Wambo Wind Farm Stage 2
No results found for address: Warradarge Wind Farm Stage 2
No results found for address: Barwon solar farm
No results found for address: Byford Solar Project
No results found for address: Derby Solar Farm & Battery
No results found for address: Ganymirra Solar Power Station
No results found for address: Junction Rivers Wind Farm
No results found for address: Kidston Stage 3 Wind Project
No results found for address: Lake Wells high renewable energy fraction microgrid -Solar
No results found for address: Lake Wells high renewable energy fraction microgrid -Wind
No results found for address: Planet Ark Power - Schneider Electricity PV and Battery Project
No results found for address: Sandy Creek Solar Farm
No results found for address: Silverleaf Solar Farm
No results found for address: Smoky Creek and Guthrie's Gap Solar Farm
No results found for address: Thunderbolt Wind Farm stage 1
No results found for address: Vast Solar Facility - VS1

   count_star()
0           337

### For data source 3: https://www.abs.gov.au/methodologies/data-region-methodology/2011-24#data-downloads

##### Data Retrieval

In [22]:
# Download and process ABS data
import pandas as pd
import requests
import numpy as np
import os

In [23]:
# Download ABS population data
url = "https://www.abs.gov.au/methodologies/data-region-methodology/2011-24/14100DO0001_2011-24.xlsx"
RAW_XLSX = "Population and people, ASGS, LGA, and RA, 2011, 2016-2024.xlsx"

if not os.path.exists(RAW_XLSX):
    response = requests.get(url)
    response.raise_for_status()
    with open(RAW_XLSX, 'wb') as f:
        f.write(response.content)
else:
    # If file exists, we still need response for the current processing
    with open(RAW_XLSX, 'rb') as f:
        response_content = f.read()

##### Data Cleaning

In [24]:
# Process all three ABS tables
abs_tables = {}

# Check if all cleaned files exist
all_files_exist = all(os.path.exists(f'{info["name"]}.csv') 
                     for info in [
                         {"name": "state_territory", "sheet": "Table 1"},
                         {"name": "lga_areas", "sheet": "Table 2"}, 
                         {"name": "remoteness_areas", "sheet": "Table 3"}
                     ])

if all_files_exist:
    # Load cleaned files directly
    for table_info in [
        {"name": "state_territory", "sheet": "Table 1"},
        {"name": "lga_areas", "sheet": "Table 2"}, 
        {"name": "remoteness_areas", "sheet": "Table 3"}]:
        
        df = pd.read_csv(f'{table_info["name"]}.csv')
        abs_tables[table_info["name"]] = df

else:
    # Process and clean each table, then save to CSV
    for table_info in [
        {"name": "state_territory", "sheet": "Table 1"},
        {"name": "lga_areas", "sheet": "Table 2"}, 
        {"name": "remoteness_areas", "sheet": "Table 3"}]:
    
        # Read table with proper header handling - skip first 6 rows of metadata
        df = pd.read_excel(RAW_XLSX, 
                      sheet_name=table_info["sheet"], 
                      header=6)
    
        # Data cleaning process
        # Replace '-' with NaN for missing values and remove rows without region codes
        df = df.replace('-', np.nan).dropna(subset=[df.columns[0]])
        
        # Convert Year column to numeric type if it exists
        if 'Year' in df.columns:
            df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
            # Filter data to keep only records from 2016 onwards to match energy data timeframe
            df = df[df['Year'] >= 2016]

        # Save cleaned data for future reuse
        df.to_csv(f'{table_info["name"]}.csv', index=False)
        abs_tables[table_info["name"]] = df

C:\Users\gz_jo\AppData\Local\Temp\ipykernel_28864\2675436550.py:19: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{table_info["name"]}.csv')

In [25]:
# Save to database 
for name, df in abs_tables.items():
    conn.sql(f"CREATE TABLE IF NOT EXISTS abs_{name} AS SELECT * FROM df")

In [26]:
# State Territory data preview 
print("Shape:", abs_tables['state_territory'].shape)
abs_tables['state_territory'].head(5)
abs_tables['state_territory'].dtypes

Shape: (23272, 163)

Code                                                        object
Label                                                       object
Year                                                       float64
Estimated resident population (no.)                        float64
Population density (persons/km2)                           float64
                                                            ...
Speaks a language other than English at home (%)           float64
Currently serving in the Australian Defence Force (no.)    float64
Previously served in the Australian Defence Force (no.)    float64
Currently serving in the Australian Defence Force (%)      float64
Previously served in the Australian Defence Force (%)      float64
Length: 163, dtype: object

In [27]:
# LGA Areas data preview
print("Shape:", abs_tables['lga_areas'].shape)
abs_tables['lga_areas'].head(5)
abs_tables['lga_areas'].dtypes

Shape: (4376, 163)

Code                                                         int64
Label                                                       object
Year                                                       float64
Estimated resident population (no.)                        float64
Population density (persons/km2)                           float64
                                                            ...
Speaks a language other than English at home (%)           float64
Currently serving in the Australian Defence Force (no.)    float64
Previously served in the Australian Defence Force (no.)    float64
Currently serving in the Australian Defence Force (%)      float64
Previously served in the Australian Defence Force (%)      float64
Length: 163, dtype: object

In [28]:
# Remoteness Areas data preview
print("Shape:", abs_tables['remoteness_areas'].shape) 
abs_tables['remoteness_areas'].head(5)
abs_tables['remoteness_areas'].dtypes

Shape: (245, 124)

Code                                                   int64
Label                                                 object
Year                                                 float64
Estimated resident population (no.)                  float64
Population density (persons/km2)                     float64
                                                      ...
Persons - 85 and over (%)                            float64
Births (no.)                                         float64
Total fertility rate (births per female) (rate)      float64
Deaths (no.)                                         float64
Standardised death rate (per 1,000 people) (rate)    float64
Length: 124, dtype: object

In [29]:
# Verify all ABS tables in database 
conn.query("SHOW TABLES").df()

                        name
0              abs_lga_areas
1       abs_remoteness_areas
2        abs_state_territory
3  accredited_power_stations
4   committed_power_stations
5      electricity_emissions
6     power_station_geocodes
7    probable_power_stations